.container {
  position: relative;
}

.backdrop {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

.showBackdrop {
  display: block;
}

.content {
  border-radius: 8px;
  border: 1px solid transparent;
  background-color: var(--clr-gray5);
  position: absolute;
  left: 0;
  top: 28px;
  z-index: 3;
  width: 150px;
}

.contentRight {
  left: auto;
  right: 0;
}
