.usersListItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.usersListItem .userName,
.usersListItem .canShare {
  transition: 0.2s ease-in;
  transition-property: color;
}

.usersListItem:hover .userName,
.usersListItem:hover .canShare {
  color: var(--clr-prim3);
}

.usersListItem[data-dark-theme="true"]:hover .userName,
.usersListItem[data-dark-theme="true"]:hover .canShare {
  color: var(--clr-prim1);
}

.itemContent {
  display: flex;
  align-items: center;
  gap: 8px;
  height: 32px;
}

.canShare {
  display: flex;
  align-items: flex-end;
  gap: 4px;
  color: var(--clr-gray2);
}

.checkbox {
  display: flex;
  align-items: center;
  gap: 8px;
}
