/* general buttons styles */

.button {
  padding: 8px 16px;
  border-radius: 8px;
  border: 1px solid transparent;
  background-color: var(--clr-gray5);
  cursor: pointer;
  transition: 0.2s ease-out;
  transition-property: background-color, border-color;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
}

.text,
.icon {
  font-size: 16px;
  transition: 0.2s ease-out;
  transition-property: color;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--clr-gray1);
  width: 16px;
  height: 16px;
}

.button[data-dark-theme="true"] .icon {
  color: var(--clr-gray7);
}

.button:hover {
  background-color: var(--clr-gray4);
}

.button:active {
  background-color: var(--clr-gray3);
}

.button[data-dark-theme="true"] {
  background-color: var(--clr-gray2);
}

.button[data-dark-theme="true"] .text {
  color: var(--clr-gray7);
}

.button[data-dark-theme="true"]:hover {
  background-color: var(--clr-gray1);
}

.button:active[data-dark-theme="true"] {
  background-color: var(--clr-gray3);
}

/* primary button */

.primary {
  background-color: var(--clr-prim1);
}

.primary * {
  color: var(--clr-prim6);
}

.primary:hover {
  background-color: var(--clr-prim2);
}

.primary[data-dark-theme="true"] {
  background-color: var(--clr-prim2);
  color: var(--clr-gray7);
}

.primary[data-dark-theme="true"] * {
  color: var(--clr-gray7);
}

.primary[data-dark-theme="true"]:hover {
  background-color: var(--clr-prim1);
}

.primary:active,
.primary[data-dark-theme="true"]:active {
  background-color: var(--clr-prim3);
}

/* secondary button */

.secondary {
  background-color: var(--clr-sec1);
}

.secondary * {
  color: var(--clr-sec6);
}

.secondary:hover {
  background-color: var(--clr-sec2);
}

.secondary[data-dark-theme="true"] {
  color: var(--clr-gray7);
  background-color: var(--clr-sec2);
}

.secondary[data-dark-theme="true"] * {
  color: var(--clr-gray7);
}

.secondary[data-dark-theme="true"]:hover {
  background-color: var(--clr-sec1);
}

.secondary:active,
.secondary[data-dark-theme="true"]:active {
  background-color: var(--clr-sec3);
}

/* tranparent */
.transparent:focus {
  outline: 1px solid var(--clr-prim1);
}

.transparent,
.transparent[data-dark-theme="true"],
.transparent:hover,
.transparent[data-dark-theme="true"]:hover,
.transparent:active,
.transparent[data-dark-theme="true"]:active {
  background-color: transparent;
}

.transparent .text,
.transparent .icon,
.transparent[data-dark-theme="true"] .text,
.transparent[data-dark-theme="true"] .icon {
  color: var(--clr-gray1);
}

.transparent:hover .text,
.transparent:hover .icon,
.transparent[data-dark-theme="true"]:hover .text,
.transparent[data-dark-theme="true"]:hover .icon {
  color: var(--clr-gray2);
}

.transparent:active .text,
.transparent:active .icon {
  color: var(--clr-prim4);
}

.transparent[data-dark-theme="true"]:active .text,
.transparent[data-dark-theme="true"]:active .icon {
  color: var(--clr-prim2);
}

/* disabled button */
.button:disabled,
.button[data-dark-theme="true"]:disabled,
.button[data-dark-theme="true"]:disabled:hover,
.button[data-dark-theme="true"]:disabled:active,
.button.loading,
.button.loading[data-dark-theme="true"]:hover,
.button.loading[data-dark-theme="true"]:active {
  cursor: default;
  background-color: var(--clr-gray4);
}

.button:disabled *,
.button[data-dark-theme="true"]:disabled *,
.button[data-dark-theme="true"]:disabled:hover *,
.button[data-dark-theme="true"]:disabled:active * {
  color: var(--clr-gray3);
}

/* small button */
.small {
  padding: 4px 8px;
}

.small .text,
.small .icon {
  font-size: 14px;
}

/* large button */
.large {
  padding: 12px 18px;
}

.large .text,
.large .icon {
  font-size: 18px;
}

/* iconButton */
.iconButton {
  border-radius: 50%;
  padding: 8px;
  height: 32px;
  width: 32px;
}

.iconButton.small {
  padding: 4px;
  height: 24px;
  width: 24px;
}

.iconButton.large {
  padding: 12px;
  height: 42px;
  width: 42px;
}
