.container {
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 4px 0;
}

.container:hover > * {
  color: var(--clr-prim3);
  transition: 0.2s ease-in;
  transition-property: color;
}

.container[data-dark-theme="true"]:hover > * {
  color: var(--clr-prim2);
}

.container.selected > * {
  color: var(--clr-gray3);
}

.quantity {
  color: var(--clr-gray2);
}
