.container {
  border: 1px solid var(--clr-gray4);
  border-radius: 8px;
  padding: 8px;
}

.header:hover {
  color: var(--clr-prim3);
  transition: 0.2s ease-in;
  transition-property: color;
}

.header[data-dark-theme="true"]:hover {
  color: var(--clr-prim2);
}

.content {
  border-top: 1px solid var(--clr-gray4);
  padding-top: 8px;
}

.actions {
  margin-bottom: 8px;
}
