.toolbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--clr-gray3);
}

.rightSection {
  display: flex;
  gap: 12px;
}

.rightSection span {
  display: flex;
  align-items: center;
  font-size: 14px;
  gap: 4px;
  color: var(--clr-gray3);
  flex-direction: column;
}

@media screen and (min-width: 650px) {
  .rightSection span {
    flex-direction: row;
  }
}
