.container {
  border: 1px solid var(--clr-gray3);
  border-radius: 8px;
  padding: 8px;
  overflow: auto;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8px;
}

.headerText {
  color: var(--clr-gray2);
}
