.button {
  background-color: transparent;
  display: flex;
  align-items: center;
  border: none;
  cursor: pointer;
  width: 100%;
}

.button:disabled {
  cursor: initial;
}

.linkWrapper,
.disabled {
  padding: 4px 8px;
  border-radius: 8px;
  border: 1px solid transparent;
  width: 100%;
}

.disabled {
  color: var(--clr-gray4);
}

.disabled[data-dark-theme="true"] {
  color: var(--clr-gray3);
}
