.link {
  color: var(--clr-gray1);
  text-decoration: none;
  transition: 0.1s ease-in;
  transition-property: color;
}

.link:hover {
  color: var(--clr-sec3);
}

.link[data-dark-theme="true"]:hover {
  color: var(--clr-sec2);
}

.primary {
  color: var(--clr-prim3);
}
