.overlay-enter {
  opacity: 0;
  transform: translateY(100%);
}

.overlay-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 200ms, transform 200ms;
}

.overlay-exit {
  opacity: 1;
  transform: translateY(0);
}

.overlay-exit-active {
  opacity: 0;
  transform: translateY(100%);
  transition: opacity 200ms, transform 200ms;
}
