.section {
  margin: 48px 0;
}

.warnings {
  display: flex;
  gap: 8px;
  flex-direction: column;
}

.warnings > div {
  flex: 1;
}

@media screen and (min-width: 720px) {
  .warnings {
    flex-direction: row;
    align-items: flex-start;
  }
}
