.container {
  display: grid;
  position: relative;
  grid-template-columns: 1fr;
  width: 100%;
}

@media screen and (min-width: 600px) {
  .container {
    grid-template-columns: 1fr 1fr;
  }
}

.leftColumn {
  display: none;
  height: 100vh;
}

.columnImage {
  display: none;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

@media screen and (min-width: 600px) {
  .columnImage,
  .leftColumn {
    display: block;
  }
}

.rightColumn {
  padding: 8px;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  position: relative;
  background-color: var(--clr-gray7);
}

.rightColumn[data-dark-theme="true"] {
  background-color: var(--clr-gray7);
}

.appName {
  color: var(--clr-prim4);
  position: absolute;
  top: 8px;
  left: 8px;
}

.appName[data-dark-theme="true"] {
  color: var(--clr-prim2);
}

.image {
  margin-top: 24px;
  width: 80%;
  max-height: 200px;
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 400px;
  border-radius: 8px;
  padding: 8px;
  margin: 16px auto 0;
  gap: 8px;
}

.form[data-dark-theme="true"] {
  border-color: transparent;
  background-color: var(--clr-gray6);
}

.submitButton {
  margin-top: 12px;
}

.footer {
  margin-bottom: 12px;
  text-align: center;
  color: var(--clr-gray2);
}

.footer[data-dark-theme="true"] {
  color: var(--clr-gray5);
}

.languages {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
  font-size: 14px;
}

.header {
  font-size: 24px;
  font-weight: normal;
  text-align: center;
}

.language {
  border-top: 1px solid var(--clr-gray4);
  margin-top: 8px;
  padding-top: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  color: var(--clr-gray3);
}

.language * {
  font-size: 14px;
}
