.container {
  --menu-item-height: 48px;

  height: 100vh;
  background-color: var(--clr-gray7);
  overflow: auto;
}

.container[data-dark-theme="true"] {
  background-color: var(--clr-gray6);
}

.hideButton {
  display: block;
  height: var(--topbar-height);
  width: 100%;
  font-size: 20px;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: transparent;
  transition: 0.2s ease-in;
  transition-property: background-color;
}

.hideButton:hover {
  background-color: var(--clr-gray5);
  color: var(--clr-prim4);
}

.hideButton[data-dark-theme="true"] {
  color: var(--clr-gray1);
}

.hideButton[data-dark-theme="true"]:hover {
  color: var(--clr-prim2);
}

.appName {
  display: none;
}

.menuItemsList {
  border-top: 1px solid var(--clr-gray7);
}

.searchItem {
  padding: 8px;
  display: block;
}

.sidebarItem {
  height: var(--menu-item-height);
  transition: 0.2s ease-in;
  border-left: 4px solid transparent;
}

.sidebarItem > button,
.sidebarItem > a {
  color: var(--clr-gray1);
  width: 100%;
  height: 100%;
  padding: 8px;
  background-color: transparent;
  border: none;
  font-size: 16px;
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.sidebarItemSelected {
  border-color: var(--clr-prim4);
  background-color: var(--clr-prim1);
}

.sidebarItemSelected[data-dark-theme="true"] {
  border-color: var(--clr-prim2);
  background-color: var(--clr-gray5);
}

.sidebarItem > a {
  text-decoration: none;
}

.sidebarItem:hover {
  background-color: var(--clr-gray6);
}

.sidebarItem:hover[data-dark-theme="true"] {
  background-color: var(--clr-gray4);
}

.sidebarItem:active {
  background-color: var(--clr-gray6);
}

.sidebarItem:active[data-dark-theme="true"] {
  background-color: var(--clr-gray5);
}

.sidebarItem:hover > * {
  color: var(--clr-prim4);
}

.sidebarItem:hover[data-dark-theme="true"] > * {
  color: var(--clr-prim2);
}

.sidebarItemSecondary:hover > * {
  color: var(--clr-sec4);
}

.sidebarItemSecondary:hover[data-dark-theme="true"] > * {
  color: var(--clr-sec2);
}

.sidebarItemWarning:hover > * {
  color: var(--clr-war2);
}

.sidebarItemWarning:hover[data-dark-theme="true"] > * {
  color: var(--clr-war1);
}

@media screen and (min-width: 650px) {
  .hideButton {
    display: none;
  }

  .appName {
    display: flex;
    align-items: center;
    justify-content: center;
    height: var(--topbar-height);
  }

  .searchItem {
    display: none;
  }
}

@media screen and (min-width: 1800px) {
  .container {
    height: auto;
    border-radius: 8px;
  }
}

@media screen and (min-width: 1800px) {
  .container,
  .container[data-dark-theme="true"] {
    background-color: transparent;
  }

  .menuItemsList {
    background-color: var(--clr-gray6);
    border-radius: 8px;
  }
}
