.container {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 999;
  max-height: 100vh;

  --padding-small: 12px;
  --padding-large: 24px;
  --header-height-small: 66px;
  --header-height-large: 90px;
}

.backdrop {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgb(0, 0, 0, 0.5);
  z-index: 1;
}

.closeButton {
  position: fixed;
  top: var(--padding-small);
  right: var(--padding-small);
  z-index: 2;
}

.content {
  margin: 0 auto;
  margin-top: calc(2 * var(--padding-small) + 42px);
  border-radius: 8px 8px 0 0;
  padding: var(--padding-small);
  height: 100%;
  width: 100%;
  max-width: var(--max-content-width);
  overflow: auto;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-bottom: calc(var(--header-height-small) +var(--padding-small));
  background-color: var(--clr-gray7);
  position: relative;
  z-index: 2;
}

.content[data-dark-theme="true"] {
  background-color: var(--clr-gray6);
}

@media screen and (min-width: 650px) {
  .closeButton {
    top: var(--padding-large);
    right: var(--padding-large);
  }

  .content {
    padding: var(--padding-large);
    padding-bottom: calc(var(--header-height-large) +var(--padding-large));
    margin-top: calc(2 * var(--padding-large) + 42px);
  }
}

.header {
  font-weight: normal;
  font-size: 24px;
}
