.container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: right;
  padding: 8px;
  max-width: var(--max-content-width);
  width: 100%;
  margin: 0 auto;
}

.searchInput {
  border: 2px solid transparent;
  border-radius: 8px;
  max-width: 320px;
  flex: 1;
  display: flex;
  align-items: center;
  height: 100%;
  background-color: var(--clr-gray6);
}

.searchInput:focus-within {
  border-color: var(--clr-prim4);
}

.searchInput[data-dark-theme="true"]:focus-within {
  border-color: var(--clr-prim2);
}

.button {
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  height: 100%;
  border-radius: 8px 0 0 8px;
  border: none;
  cursor: pointer;
  background-color: transparent;
  transition: 0.2s ease-in;
  transition-property: color;
}

.button:hover {
  color: var(--clr-prim4);
}

.button[data-dark-theme="true"] {
  color: var(--clr-gray1);
}

.button[data-dark-theme="true"]:hover {
  color: var(--clr-prim2);
}

.input {
  width: 100%;
  height: 100%;
  border-radius: 0 8px 8px 0;
  border: none;
  background-color: transparent;
  outline: none;
  background-color: none;
  font-size: 16px;
}
