.error {
  color: var(--clr-err2);
}

.error[data-dark-theme="true"] {
  color: var(--clr-err1);
}

.headerContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header {
  font-size: 20px;
  font-weight: normal;
}

.invalidProductsHeader {
  font-size: 16px;
  font-weight: normal;
  color: var(--clr-err1);
}

.productsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}
