.container {
  display: flex;
  align-items: center;
  gap: 8px;
}

.button {
  display: flex;
  align-items: center;
  border: none;
  background-color: transparent;
  border-radius: 16px;
  background-color: var(--clr-gray5);
  border: 1px solid var(--clr-gray5);
  cursor: pointer;
  transition: 0.2s ease-in;
  transition-property: background-color;
}

.button:hover {
  background-color: var(--clr-gray4);
}
