.container {
  padding: 8px 0;
  min-height: 100px;
}

.section {
  display: flex;
  align-items: baseline;
  gap: 4px;
}

.sectionLabel,
.numberOfDays {
  color: var(--clr-gray2);
}

.storageLink {
  display: flex;
  align-items: center;
  gap: 4px;
}
