.container {
  margin: 8px 0;
}

.actionButtons {
  display: flex;
  align-items: center;
  gap: 4px;
}

.actionContainer {
  margin-top: 8px;
  transition: 0.2s ease-in;
  transition-property: max-height, opacity;
}
