.list.grid {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px;
  margin-top: 8px;
}

.list li {
  padding: 8px 0;
  border-bottom: 1px solid var(--clr-gray4);
}

.list.grid li {
  border: 1px solid transparent;
  padding: 0;
}
