.header {
  margin-bottom: 8px;
}

.link {
  display: flex;
  align-items: center;
  gap: 8px;
}

.link.grid {
  background-color: var(--clr-gray6);
  border-radius: 8px;
  padding: 8px 16px;
}

.link.grid[data-dark-theme="true"] {
  background-color: var(--clr-gray5);
}
