.header {
  letter-spacing: 0.25px;
  color: var(--clr-gray2);
  border-bottom: 1px solid var(--clr-gray3);
}

.list li {
  margin: 8px 0;
}

.list.horizontalList {
  margin-top: 8px;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.list.horizontalList li {
  margin: 0;
}
