.container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 4px;
  flex-wrap: wrap;
  position: relative;
}

.justifyToTheLeft {
  justify-content: flex-start;
}

@media screen and (min-width: 920px) {
  .container {
    gap: 8px;
  }
}
